
{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for('about') }}" method="POST"> 
        <h1> Please complete the form</h1>
        {% if not username %}
        <p> no name provided, Please enter your name</p>
        {% endif %}
        {% if not age %}
        <p> no age provided. Please enter your age</p>
        {% endif %}
        <input name="username" type="text" placeholder="Enter your name...">
        <input name="age" type="number" placeholder="Enter your age...">
        <button type="submit">Submit Form</button>

     </form>
{% endblock %}

